<div class="comment-container">
  <h2>Kommentit</h2>
    
    <div class="filter-controls">
        
        <div class="filter-row">
            
            <input
                type="text"
                placeholder="Artikkelin ID (esim. 74-20195254)"
                [value]="articleId"
                (input)="onArticleIdChanged($any($event.target).value)"
                class="articleid-input"
            />
            
            <input
                type="text"
                placeholder="Suodata nimimerkillä..."
                [value]="nicknameFilter"
                (input)="onNicknameChanged($any($event.target).value)"
                class="nickname-input"
            />

            <div class="hide-control">
                <input 
                    type="checkbox" 
                    id="hideUnmarked" 
                    [checked]="hideUnmarkedTopLevel"
                    (change)="hideUnmarkedTopLevel = $any($event.target).checked"
                >
                <label for="hideUnmarked">Piilota merkitsemättömät juurikommentit</label>
            </div>
        </div>
    </div>
    
  <hr>

  <ng-container *ngIf="comments.length > 0; else noComments">
    <app-comment-item 
      *ngFor="let comment of filteredComments" 
      [comment]="comment"
      [level]="0">
    </app-comment-item>

    <div class="load-more-container" *ngIf="hasMoreComments">
    <button 
        (click)="loadMoreComments()" 
        [disabled]="isLoading" 
        class="load-more-button">
        {{ isLoading ? 'Ladataan...' : 'Lataa lisää kommentteja' }}
    </button>
    </div>    
  </ng-container>

  <ng-template #noComments>
    <p>Ei kommentteja.</p>
  </ng-template>

</div>