// ------------------------------------------------------

.main-layout-container {
    display: flex;
    
    gap: 30px;
    padding: 20px;
    
    max-width: 1200px; 
    margin: 0 auto; /* Keskittää koko pääkontin sivuittain */
}

.sidebar {
    width: 250px;   /* Kiinteä, kapea leveys historia-listalle */
    flex-shrink: 0; /* Estää sivupalkkia kutistumasta */
    border-right: 1px solid #ddd;
    padding-right: 20px;
    
    align-self: flex-start; /* Varmista, että sidebar on ylhäällä, ei veny koko ruudun korkuiseksi */
}


.comment-header, .filter-controls {
    width: 100%; 
}

.comment-header {
    display: flex;             
    align-items: center;       
    gap: 30px;                 
    margin-bottom: 15px;       
}

.filter-row {
    display: flex; 
    gap: 20px;     
    align-items: center; 
    margin-bottom: 10px;
}

.filter-input {
    flex-grow: 1; 
    padding: 8px;
}


.comment-header h3 {
    margin: 0;
    flex-grow: 1; 
}


.comment-section {
    flex-grow: 1; 
}

// ------------------------------------------------------

.comment-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.comment-container h3 {
    margin-top: 0; 
}

.top-level-comment {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.comment-content-box {
  margin-bottom: 15px;
}


.comment-date, .reply-date {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 10px;
}

.comment-text, .reply-text {
  white-space: pre-line; /* Säilyttää rivinvaihdot sisällössä */
}

.replies {
  margin-top: 15px;
  padding-left: 20px;
  border-left: 3px solid #eee;
}

.replies-header {
  font-weight: bold;
  font-size: 0.9em;
  color: #333;
  margin-bottom: 10px;
}

.reply-comment {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1px dashed #ddd;
  border-radius: 4px;
}

.reply-header {
  font-weight: bold;
  font-size: 1em;
}

.error-message {
  color: red;
  font-weight: bold;
}



.load-more-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.load-more-button {
  padding: 10px 20px;

  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
  color: #003780;

  background-color: #eee;
  border: 1px solid #ccc; // Kevyt harmaa reuna;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.load-more-button:hover:not(:disabled) {
  background-color: #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.load-more-button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}



.hide-control {
    display: flex; 
    align-items: center; 
}

.hide-control input {
    margin-right: 5px;
}

.hide-control input:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.disabled-label {
    color: #999;
    cursor: not-allowed;
}


// ------------------------------------------------------
.refresh-button {
    width: 40px; 
    height: 40px; 
    padding: 4px 8px;;
    cursor: pointer;
    background-color: #f0f0f0; 
    color: #333; 
    border: 1px solid #ccc;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em; 
    transition: background-color 0.2s;
}

.refresh-button:hover:not(:disabled) {
    background-color: #e0e0e0;
}

.refresh-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}


/* Keyframes animaatiolle */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    font-weight: bold;
    /* Käytetään animaatiota, kun lataus on käynnissä */
    animation: spin 1.2s linear infinite;
    display: inline-block;
    padding: 4px 8px;;
}

// ------------------------------------------------------