<div class="main-layout-container">

  <header class="main-toolbar">
    <h1 class="app-title">Yle kommentointi</h1>
    <app-login-panel></app-login-panel>
  </header>  

  <div class="content-wrapper">
    <div class="sidebar">

      <app-my-discussions
        (discussionSelected)="handleDiscussionSelected($event)"      
        (articleIdFilterChange)="onArticleIdChanged($event)">
      </app-my-discussions>

      <app-history-list 
          [articleIdFilter]="articleId"
          (articleSelected)="handleArticleSelected($event)">
      </app-history-list>
    </div>

    <div class="comment-section">
      <div class="comment-container">

        <div class="comment-controls-top">

          <div class="article-id-filter-control">
            <input type="text" placeholder="esim. 74-20195254 tai URL..." class="filter-input article-id-input"
              [(ngModel)]="articleId" 
              (ngModelChange)="onArticleIdChanged($event)"            />
          </div>
          
          <div class="comment-header">
            <h3>{{ articleTitle || articleId }}
              <span *ngIf="topicDetails?.acceptedCommentsCount != null" class="comment-count-info no-wrap">
                – {{ topicDetails?.acceptedCommentsCount }} kommenttia
              </span>
            </h3>
          </div>
          
        </div>


        <div class="filter-controls">
          <div class="filter-row">

            <input
              type="text"
              placeholder="Suodata nimimerkillä..."
              [value]="nicknameFilter"
              (input)="onNicknameChanged($any($event.target).value)"
              class="filter-input"
            />

            <div class="hide-control">
              <input 
                type="checkbox" 
                id="hideUnmarked" 
                [checked]="hideUnmarkedTopLevel"
                (change)="hideUnmarkedTopLevel = $any($event.target).checked"
                
                [disabled]="!isHideUnmarkedEnabled" 
              >
              <label 
                for="hideUnmarked"
                [class.disabled-label]="!isHideUnmarkedEnabled">Piilota muut</label>
            </div>
            <button 
              (click)="loadComments(true)" 
              [disabled]="isLoading"
              class="refresh-button"
              title="{{ isLoading ? 'Ladataan...' : 'Päivitä kommentit' }}">
              
              <span *ngIf="!isLoading">🔄</span> <span *ngIf="isLoading" class="spinner">↻</span> 
            </button>

          </div>
        </div>
          
        <hr>

        <ng-container *ngIf="comments.length > 0; else noComments">
          <app-comment-item 
            *ngFor="let comment of filteredComments" 
            [comment]="comment"
            [level]="0"
            [articleId]="articleId">
          </app-comment-item>

          <div class="load-more-container" *ngIf="hasMoreComments">
          <button 
              (click)="loadMoreComments()" 
              [disabled]="isLoading" 
              class="load-more-button">
              {{ isLoading ? 'Ladataan...' : 'Lataa lisää kommentteja' }}
          </button>
          </div>    
        </ng-container>

        <ng-template #noComments>
          <p>Ei kommentteja.</p>
        </ng-template>

      </div>
    </div>
  </div>
</div>