<app-toolbar 
  [title]="provider.displayName"
  [showHomeButton]="true"
  [showMenuToggle]="provider.capabilities.supportsUserHistory || provider.capabilities.supportsArticleListing"
  [showLoginButton]="true"
  (toggleMenu)="toggleMobileMenu()"
  (openInfo)="openInfoModal()">
</app-toolbar>

<div class="main-layout-container">

  <div class="content-wrapper">
    <div class="sidebar-overlay" *ngIf="isMobileMenuOpen" 
        (click)="toggleMobileMenu()">
    </div>

    <div class="sidebar" 
      *ngIf="provider.capabilities.supportsUserHistory || provider.capabilities.supportsArticleListing"
      [class.mobile-open]="isMobileMenuOpen"
      [style.width.px]="sidebarWidth">

      <app-my-discussions
        *ngIf="provider.capabilities.supportsUserHistory"
        (discussionSelected)="handleDiscussionSelected($event)"      
        (articleIdFilterChange)="onArticleIdChanged($event)">
      </app-my-discussions>

      <app-articles 
        *ngIf="provider.capabilities.supportsArticleListing"
        (articleIdFilterChange)="onArticleIdChanged($event)"
        (articleSelected)="handleArticleSelected($event)">
      </app-articles>

      <div class="sidebar-resizer" (mousedown)="startResizing($event)"></div>
    </div>

    <div class="comment-section">
      <div class="comment-container">
        <div class="sticky-controls-wrapper">
          <div class="comment-controls-top">
            
            <div class="comment-header">
              <h3>{{ articleTitle || articleId }} <a href="{{ topicDetails?.articleLink }} " target="_blank" class="article-link-icon">↗️</a>
                <span *ngIf="topicDetails?.acceptedCommentsCount != null" class="comment-count-info no-wrap">
                  - {{ topicDetails?.acceptedCommentsCount }} kommenttia
                </span>

                <span *ngIf="commentsLocked" class="comment-locked-info no-wrap">
                  (suljettu)
                </span>
              </h3>
            </div>

          </div>


          <div class="filter-controls">
            <div class="filter-row">

              <input type="text" placeholder="esim. 74-20195254 tai URL..." 
                class="filter-input article-id-input yle-input"
                [(ngModel)]="articleId" 
                (ngModelChange)="onArticleIdChanged($event)"
              />

              <div class="nickname-filter-container">
                <input type="text" placeholder="Hae nimimerkkiä..." class="yle-input filter-input"
                  [value]="nicknameFilter"
                  (input)="onNicknameChanged($any($event.target).value)"
                />

                <div class="search-nav-group" *ngIf="nicknameFilter">
                  <button class="nav-btn" (click)="navigateToMatch('prev')" [disabled]="matches.length === 0">
                      &larr;
                  </button>
                  
                  <span class="nav-counter">
                    <ng-container *ngIf="matches.length > 0">
                      {{ currentMatchIndex === -1 ? '?' : currentMatchIndex + 1 }} / {{ matches.length }}
                    </ng-container>
                    <ng-container *ngIf="matches.length === 0">
                      0 / 0
                    </ng-container>
                  </span>

                  <button class="nav-btn" (click)="navigateToMatch('next')" [disabled]="matches.length === 0">
                      &rarr;
                  </button>
                </div>

                <button class="yle-button" 
                        [class.active]="showNewCommentForm"
                        (click)="toggleNewCommentForm()" 
                        [disabled]="commentsLocked || !articleId"
                        title="Kirjoita uusi kommentti">
                  ✏️
                </button>
              </div>
            </div>
          </div>

          <div class="new-main-comment-form" *ngIf="showNewCommentForm">
            <textarea 
              placeholder="Kirjoita uusi kommentti tähän..." 
              class="yle-input new-comment-textarea"
              [(ngModel)]="newCommentText"
              rows="4">
            </textarea>
            <div class="new-comment-actions">
              <button class="yle-button" (click)="submitNewComment()" [disabled]="!newCommentText.trim() || isLoading">
                Lähetä kommentti
              </button>
              <button class="yle-button" (click)="toggleNewCommentForm()">
                Peruuta
              </button>
            </div>
          </div>
      </div>
          
        

        <ng-container *ngIf="comments.length > 0; else noComments">
          <app-comment-item 
            *ngFor="let comment of filteredComments" 
            [comment]="comment"
            [level]="0"
            [articleId]="articleId"
            [isLocked]="commentsLocked">
          </app-comment-item>

          <div class="load-more-container" *ngIf="hasMoreComments">
          <button 
              (click)="loadMoreComments()" 
              [disabled]="isLoading" 
              class="load-more-button">
              {{ isLoading ? 'Ladataan...' : 'Lataa lisää kommentteja' }}
          </button>
          </div>    
        </ng-container>

        <ng-template #noComments>
          <p>Ei kommentteja.</p>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<div class="mobile-search-nav" *ngIf="matches.length > 0">
  <button (click)="navigateToMatch('prev')" class="nav-btn">←</button>
  
  <span class="nav-counter">
    {{ currentMatchIndex === -1 ? '?' : currentMatchIndex + 1 }} / {{ matches.length }}
  </span>
  
  <button (click)="navigateToMatch('next')" class="nav-btn">→</button>
</div>




<!-- info-modal -->
<div class="modal-overlay" *ngIf="isInfoModalOpen" (click)="closeInfoModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <header class="modal-header">
      <h2>Tietoa sovelluksesta</h2>
      <button class="close-btn" (click)="closeInfoModal()">&times;</button>
    </header>

    <div class="modal-body">
      <section>
        <p>
          Sovellus on tarkoitettu Ylen verkkosivuston kommentointipalvelun käyttöön. 
          Sovellus mahdollistaa kommenttien lukemisen, kirjoittamisen ja tykkäämisen toisenlaisessa käyttöliittymässä. 
          Kirjoittaminen ja tykkääminen vaatii kirjautumisen Yle-tunnuksella. 
        </p>
      </section>

      <section>
        <h3> Tietojen tallennus</h3>
        <p> Sovellus ei käytä seuranta- tai markkinointievästeitä. Vain välttämättömät tiedot tallentuvat selaimeesi.</p>
      </section>

      <section>
        <h3> Kirjautuminen ja kommentointi</h3>
        <p>
          Kirjautuminen ja kommenttien käsittely tapahtuu suoraan Ylen palvelimilla. 
          Salasanaasi tai kommenttejasi ei siis tallenneta erilliselle palvelimelle, 
          vaan kaikki tiedot kulkevat suoraan Ylen järjestelmiin.
        </p>
      </section>
    </div>

    <footer class="modal-footer">
      <button class="primary-btn" (click)="closeInfoModal()">Selvä</button>
    </footer>
  </div>
</div>