
<div class="history-header">
    <h3>Historia</h3>
</div>

<div class="history-list-container">
    
    <p *ngIf="!historyItems.length">Ei katsottua historiaa.</p>

    <ul class="history-list">
        <li *ngFor="let item of historyItems">
            
            <a href="#" 
                (click)="selectArticle(item); $event.preventDefault()" 
                title="{{ item.title || item.id }}">
            {{ item.title || item.id }}
            </a>
                            
            <a [href]="getArticleLink(item.id)" target="_blank" class="article-link-icon"
            title="Avaa artikkeli Yle-sivuilla" >
            ↗️
            </a>            
        </li>
    </ul>
</div>