.history-header {
    display: flex;
    align-items: center; 
    gap: 8px; 
    margin-bottom: 10px; 
}

.history-header h3 {
    margin: 0; 
}

// -------------------------------------

.history-list { list-style: none; padding: 0; }

.history-list li {
    display: flex;
    align-items: center;
    padding: 5px 0;

    a:first-child { 
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--color-brand-primary);
    }
}


.article-link-icon {
    flex-shrink: 0;
}

.history-list li a:not(.article-link-icon) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.article-link-icon {
    flex-shrink: 0; // Prevent shrinking
    font-size: 1.1em;
    text-decoration: none;
    color: var(--color-brand-primary);
}


.history-list a:hover { text-decoration: underline; }
.empty-message { color: #888; font-style: italic; font-size: 0.9em; }
