<div class="history-controls">
    <h3>Historia</h3>
    <input
        type="text"
        placeholder="esim. 74-20195254 tai URL..."
        [value]="articleIdFilter"
        (input)="onArticleIdChanged($any($event.target).value)"
        class="filter-input history-input"
    />
</div>

<hr>

<div class="history-list-container">
    
    <p *ngIf="!historyItems.length">Ei katsottua historiaa.</p>

    <ul class="history-list">
        <li *ngFor="let item of historyItems">
            <a href="#" (click)="selectArticle(item); $event.preventDefault()" 
               title="{{ item.title }}">
              {{ item.title }}
            </a>
            <a 
              [href]="getArticleLink(item.id)" 
              target="_blank"
              title="Avaa artikkeli Yle-sivuilla"
              class="article-link-icon">
              
              ↗️
            </a>            
        </li>
    </ul>
</div>