<ng-container *ngIf="isLoggedIn$ | async; else loginButton">
    
    <div class="user-info-container">
        <button (click)="logoutAndCloseMenu()" class="logout-button">
            Kirjaudu ulos
        </button> 
    </div>
</ng-container>

<ng-template #loginButton>
    <button (click)="openLoginForm()" class="login-button">Kirjaudu</button>
</ng-template>

<div *ngIf="isLoginFormVisible" class="login-modal-overlay">
    <div class="login-form-container">
        
        <button (click)="closeLoginForm()" class="close-button">&times;</button>
        <h3>Kirjaudu sisään</h3>
        
        <form (ngSubmit)="submitLogin()">
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" [(ngModel)]="loginUsername" name="username" required>            
            
            <label for="password">Salasana:</label>
            <input type="password" id="password" [(ngModel)]="loginPassword" name="password" required>
            
            <button type="submit" class="login-button">
                Kirjaudu
            </button>
            </form>
    </div>
</div>