:host {
    display: block; 
    margin-bottom: 10px; 
}

// ------------------------------------------------------------------------------

.login-form {
    display: flex;
    flex-direction: column; // Asettaa kentät ja napin allekkain
    gap: 10px; 
    margin-top: 15px; 
}



.user-info-container {
    position: relative; /* Tarvitaan, jotta pudotusvalikko asettuu oikein */
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Sijoita painikkeen alapuolelle */
    right: 0; /* Kohdista oikealle */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Varmista, että näkyy muiden elementtien päällä */
    min-width: 150px;
}

.dropdown-menu button {
    width: 100%;
    text-align: left;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}


/* login-panel.component.scss */

// ... (muut tyylit) ...

.login-modal-overlay {
    position: fixed; /* Pysyy näytöllä scrollatessa */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Tumma, läpinäkyvä tausta */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200; /* Varmista, että on kaiken muun päällä */

}

.login-form-container {
    background: var(--color-background-primary);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    min-width: 300px;
}

.login-form-container h3 {
    margin-top: 0;
}

.login-form-container form {
    display: flex;
    flex-direction: column; 
}

// .login-form-container form {
//     background: var(--color-background-primary)
//     // width: 100%;
//     // padding: 10px;
//     // margin-bottom: 15px;
//     // border: 1px solid #ccc;
//     // box-sizing: border-box;
// }

.login-form-container form button[type="submit"] {
    align-self: flex-end; 
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}



.list-item-header {
    /* Pakota väri ja koko näkymään testausta varten */
    color: black !important;
    font-size: 16px !important;
    /* Tarkista, näkyykö teksti nyt. Jos näkyy, jokin muu luokka ylikirjoittaa sen. */
}