:host {
    display: block; 
    margin-bottom: 10px; 
}

.top-comment-item {
    margin-top: 0; 
    padding-left: 0;
}

.child-comment-item {
    padding-left: 30px; // indentation
    margin-top: 0; 
}

.replies-wrapper {
    margin-top: 10px; 
}

.comment-box {
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-text-secondary);
    padding: 10px; 
    border-radius: 10px;
}

.special-comment-box { /* Emphasize special comments */
    background-color: var(--color-background-emphasize);
}


.comment-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.0em;
    padding-bottom: 5px; 
}


.likes {
  font-weight: bold;
  color: green;
}

.author-date {
  font-size: 0.7em;
  color: var(--color-text-secondary);
  margin-left: 10px;
}

.comment-text {
  white-space: pre-line;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0.9em;
  margin-top: 10px;
  display: block; 
}

.toggle-button:hover {
  text-decoration: underline;
}

// ------------------------------------------------------

.like-button {
    color: gray; 
    border: none;
    background: transparent;
    transition: color 0.2s;
    margin-left: 5px;
}

.like-button.liked {
    color: #c6ad25; 
}

// --------------

.comment-actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;                    
}

.reply-group {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-left: auto;
}

.reply-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0.9em;
  display: block; 

  &:hover {
    text-decoration: underline;
  }
}

.reply-button[disabled] {
    cursor: not-allowed !important;
    color: var(--color-text-secondary);
    opacity: 0.7; 
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0.9em;

  display: block; 
}


.reply-form-wrapper { 
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd; 
}

textarea {
    width: 100%;
    min-height: 100px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    resize: vertical; 
    font-family: inherit;
    font-size: 1em; 
}

.reply-controls {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}


// Pendingg replies ----

.pending-indicator {
    color: #d78a17; // #ff9900; 
    font-weight: bold;
    font-size: 0.9em;
    margin-right: 10px;
}

.pending-indicator[title] {
    cursor: help; 
}