
:root {
    
    --color-background-primary: #eee;    
    --color-background-secondary: #ccc;    
    --color-background-emphasize: #ddd;

    --color-border-primary: #abc; 
    --color-border-secondary: #ccc;

    --color-dialog-background: white;

    --color-text-secondary: #777; 

    --color-brand-primary: #003780; 
    --color-shadow-focus: rgba(0, 0, 0, 0.1);

 }


.yle-button {
    padding: 8px 15px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--color-border-secondary);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s, opacity 0.2s;
    margin-top: 15px; 
    display: block; 

    background-color: var(--color-background-primary);
    color: var(--color-brand-primary); 
    
    &:hover {
        background-color: var(--color-background-secondary); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    
    &:disabled, &[disabled] {
        background-color: var(--color-background-secondary);
        color: #666;
        cursor: not-allowed;
        box-shadow: none;
        opacity: 0.7; 
    }   
    &:focus {
        border-color: var(--color-brand-primary); 
        outline: none; 
        box-shadow: 0 0 0 3px rgba(0, 55, 128, 0.2); 
    }
}

.yle-button--primary {
    background-color: var(--color-brand-primary); 
    color: white; 
    
    &:hover {
        background-color: #002d64; 
    }
}


.yle-input {
    /* Perus ulkoasu ja tyyli: */
    padding: 10px 12px;
    font-size: 1em;
    border: 1px solid var(--color-border-secondary); 
    border-radius: 4px;
    box-sizing: border-box; 
    width: auto; /* Älä pakota 100% leveyttä globaalisti */
    
    transition: border-color 0.2s, box-shadow 0.2s; 

    /* Focus-efektit */
    &:focus {
        border-color: var(--color-brand-primary); 
        outline: none;
        box-shadow: 0 0 0 3px var(--color-shadow-focus);
    }
}