
:root {
    
    --color-background-primary: #eee;    
    --color-background-secondary: #ccc;    
    --color-background-emphasize: #ddd;

    --color-border-primary: #abc; 
    --color-border-secondary: #ccc;

    --color-dialog-background: white;

    --color-text-secondary: #777; 

    --color-brand-primary: #003780; 
    --color-shadow-focus: rgba(0, 0, 0, 0.1);

    --common-border-color: #abc;
    --common-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --common-border-radius: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

// * { // For debugging styles
//   outline: 1px solid red !important;
// }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  //overflow-x: hidden; /* Estää sivuittais-skrollauksen */
}


.yle-button {
    display: inline-flex; 
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: center;
    padding: 8px 16px;

    font-size: 1em;
    font-weight: bold;

    border: 1px solid var(--color-border-secondary);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s, opacity 0.2s;
    margin: 0;

    background-color: var(--color-background-primary);
    color: var(--color-brand-primary); 
    
    &:hover {
        background-color: var(--color-background-secondary); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    
    &:disabled, &[disabled] {
        background-color: var(--color-background-secondary);
        color: #666;
        cursor: not-allowed;
        box-shadow: none;
        opacity: 0.7; 
    }   
    &:focus {
        border-color: var(--color-brand-primary); 
        outline: none; 
        box-shadow: 0 0 0 3px rgba(0, 55, 128, 0.2); 
    }
}

.yle-button--primary {
    background-color: var(--color-brand-primary); 
    color: white; 
    
    &:hover {
        background-color: #002d64; 
    }
}


.yle-input {
    padding: 10px 12px;
    font-size: 1em;
    border: 1px solid var(--color-border-secondary); 
    border-radius: 4px;
    box-sizing: border-box; 
    width: auto; 
    
    transition: border-color 0.2s, box-shadow 0.2s; 

    &:focus {
        border-color: var(--color-brand-primary); 
        outline: none;
        box-shadow: 0 0 0 3px var(--color-shadow-focus);
    }
}

// for smaller screens
@media screen and (max-width: 600px) {
  body {
    font-family: sans-serif;
  }

  .yle-input, .yle-button {
    min-height: 48px;
    font-size: 1rem;
    padding: 0 5px;
  }  
}